<%include partials/header%>
<form action="/addreport/<%=id%>" method="post" enctype="multipart/form-data">
<label>Form</label>
	<label>Report Name</label>
	<input type="text" name="reportName">
	<input type="file" name="fi">
	<button>Submit</button>
</form>