<% include partials/header %>
<h1>Campus Kart</h1>
</h3>Add Anything in this box and we will try it to store it for you</h3>
<form action="/" method="post">
	<label>Text</label>
	<input type="text" name="comment">
	<button>Submit</button>
</form>