 <% include ./partials/header %>
 <h3>User Id <%=userid%></h3>
 <h3>User Name <%=username%></h3>
 <ul>
 <a href="/doctors"><li>Prescription List</li></a>
 <a href="/report/<%=userid%>"><li>Reports</li></a>
 </ul>

