 <% include ./partials/header %>
 <h3>User Id <%userid%></h3>
 <h3>User Name <%username%></h3>
 <ul>
 <a href="/prescription"><li>Prescription List</li></a>
 <a href="/reports"><li>Reports</li></a>
 </ul>


<% include ./partials/footer %>

